.loginComponent {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../../assets/luigi-colonna-351099.jpg');
    background-size: cover;
}

.loginOut {
    color: #DDDDDD;
    font-size: 1.5rem;
    font-weight: 300;
    /* padding: 10px 16px; */
    /* border: 1px solid #DDDDDD; */
    /* border-radius: 4px; */
    /* background: rgba(255,255,255,0.6); */
}

.loginOut:link, 
.loginOut:visited, 
.loginOut:hover, 
.loginOut:active {
    text-decoration: none;
}